@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  color: #303030;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
}

main {
  padding: 40px 20px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 36px;
}

.product-title {
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  margin-block: 20px;
}

label, button {
  font-size: 22px;
}

label {
  margin-top: 15px;
}

input {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #303030;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-box {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 70px;
}

button {
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

button:hover {
  border: none;
}

.blue-btn {
  padding: 10px 25px;
  color: #FFF;
  background-color: #3898ec;
  border-right: solid 3px #246399;
  border-bottom: solid 3px #246399;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 10px;
  border-top: 1px solid #817c7c;
}

img {
  width: 70px;
}