@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  color: #303030;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
}

.display_none {
  display: none;
}

main {
  padding: 40px 20px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 36px;
}

.product-title {
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  margin-block: 20px;
}

label, button {
  font-size: 22px;
}

label {
  margin-top: 15px;
}

input {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #303030;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  height: 70px;
}

button, .orange-btn {
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #FFF;
  transition: .1s border;
}

.blue-btn {
  background-color: #3898ec;
  border-right: solid 3px #246399;
  border-bottom: solid 3px #246399;
}

.blue-btn:hover {
  border-right: solid 3px #3898ec;
  border-bottom: solid 3px #3898ec;
}

.orange-btn {
  background-color: #ec8c38;
  border-right: solid 3px #945722;
  border-bottom: solid 3px #945722;
}

.orange-btn:hover {
  border-right: solid 3px #ec8c38;
  border-bottom: solid 3px #ec8c38;
}

.table-box {
  padding: 0 10px 40px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 5px 10px;
  border: 1px solid #303030;
}

th {
  background-color: #3898ec;
  color: #fff;
  text-align: center;
}

thead {
  background-color: #ccc;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 10px;
  border-top: 1px solid #817c7c;
}

img {
  width: 70px;
}